---
import BaseLayout from "@layouts/BaseLayout.astro";
import HorizontalCard from "@components/HorizontalCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const projects = await getCollection("projects");
const posts = await getCollection("blog");

const sortedProjects = projects.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last4_projects = sortedProjects.slice(0, 4);
const last3_posts = sortedPosts.slice(0, 3);
---

<BaseLayout title="Home" sideBarActiveItemID="home" isIndex>
  <div
    id="welcome"
    class="relative w-full [height:calc(100vh-4rem)] lg:h-screen px-3 flex flex-col justify-center antialiased welcome-anim"
  >
    <h4
      id="text1"
      class="text-left text-lg sm:text-2xl md:text-3xl lg:text-4xl font-hero text-stroke text-anim"
    >
      👋 I'm
    </h4>
    <div
      class="w-full flex items-center justify-center font-hero leading-none text-[26vw] lg:text-[18vw] text-accent/80 text-center text-stroke"
    >
      <span id="logo1" class="logo-anim1"> Billy </span>
      <span id="logo2" class="logo-anim2"> Viz </span>
    </div>
    <p
      id="text2"
      class="text-right text-lg sm:text-2xl md:text-3xl lg:text-4xl font-hero text-stroke pt-4 sm:pt-8 md:pt-10 lg:pt-16 text-anim"
    >
      I create websites and visualisations.
    </p>
  </div>
  <div class="relative px-4 lg:p-6 mx-auto lg:max-w-[1000px] max-w-[100vw]">
    <div class="my-12">
      <div
        class="text-4xl sm:text-5xl w-full font-hero text-stroke italic mb-2"
      >
        My recent <span class="text-gradient">projects</span>
      </div>
      <div class="divider-gradient"></div>
    </div>

    <div class="grid sm:grid-cols-2 gap-8">
      {
        last4_projects.map((project) => (
          <>
            <ProjectCard
              img={project.data.heroImage}
              title={project.data.title}
              desc={project.data.description}
              url={"/projects/" + createSlug(project.data.title, project.slug)}
              target="_self"
              badge={project.data.badge}
              tags={project.data.tags}
            />
          </>
        ))
      }
    </div>

    <div class="mt-36 mb-12">
      <div
        class="text-4xl sm:text-5xl w-full font-hero text-stroke italic mb-2"
      >
        My recent <span class="text-gradient">posts</span>
      </div>
      <div class="divider-gradient"></div>
    </div>

    {
      last3_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            date={post.data.pubDate}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
          />
          <div class="divider my-3 last:hidden" />
        </>
      ))
    }
  </div>
</BaseLayout>

<style>
  @keyframes fadeUpIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-152px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes textFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes textColor {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

  @media (min-width: 1024px) {
    .welcome-anim {
      transform: translateX(-152px);
      animation: slideRight 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
      animation-delay: 3.3s;
    }
  }

  .logo-anim1 {
    animation: fadeUpIn 2.75s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 1.3s;
    transform: translateY(100px);
    opacity: 0;
  }

  .logo-anim2 {
    animation: fadeUpIn 2.75s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 1.5s;
    transform: translateY(100px);
    opacity: 0;
  }

  .text-anim {
    animation: textFade 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 4.25s;
    opacity: 0;
  }

  .text-gradient {
    background-image: linear-gradient(
      45deg,
      oklch(var(--p)),
      oklch(var(--s)),
      oklch(var(--a))
    );
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: textColor 20s infinite alternate;
  }

  .divider-gradient {
    text-align: center;
    margin: 1.5rem auto;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(
      45deg,
      oklch(var(--p)),
      oklch(var(--s)),
      oklch(var(--a))
    );
    background-size: 400%;
    animation: textColor 20s infinite alternate;
  }
</style>

<script is:inline>
  window.addEventListener("load", () => {
    if (document.querySelector("#sidebar") !== null) {
      window.sessionStorage.setItem("Sidebar", "displayed");
    }
    if (document.querySelector("#welcome") !== null) {
      window.sessionStorage.setItem("Welcome", "displayed");
    }
    if (document.querySelector("#logo1") !== null) {
      window.sessionStorage.setItem("Logo 1", "displayed");
    }
    if (document.querySelector("#logo2") !== null) {
      window.sessionStorage.setItem("Logo 2", "displayed");
    }
    if (document.querySelector("#text1") !== null) {
      window.sessionStorage.setItem("Text 1", "displayed");
    }
    if (document.querySelector("#text2") !== null) {
      window.sessionStorage.setItem("Text 2", "displayed");
    }
  });

  if (window.sessionStorage.getItem("Sidebar")) {
    document.querySelector("#sidebar").classList.remove("index");
  }
  if (window.sessionStorage.getItem("Welcome")) {
    document.querySelector("#welcome").classList.remove("welcome-anim");
  }
  if (window.sessionStorage.getItem("Logo 1")) {
    document.querySelector("#logo1").classList.remove("logo-anim1");
  }
  if (window.sessionStorage.getItem("Logo 2")) {
    document.querySelector("#logo2").classList.remove("logo-anim2");
  }
  if (window.sessionStorage.getItem("Text 1")) {
    document.querySelector("#text1").classList.remove("text-anim");
  }
  if (window.sessionStorage.getItem("Text 2")) {
    document.querySelector("#text2").classList.remove("text-anim");
  }

  setTimeout(() => {
    window.sessionStorage.clear();
  }, 300000);
</script>
