---
import BaseLayout from "@layouts/BaseLayout.astro";
import HorizontalCard from "@components/HorizontalCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const projects = await getCollection('projects');
const posts = await getCollection('blog');

const sortedProjects = projects.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last2_projects = sortedProjects.slice(0, 2)
const last3_posts = sortedPosts.slice(0, 3)
---

<BaseLayout title="Home" sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-4">Hi 👋</div>
    <div class="text-5xl font-bold">I'm William Bailey</div>
    <div class="pt-6">
      <text class="text-lg">
        I am a Front-end and data visualisation developer. I create websites and visualisations with a focus on effective interfaces and infographics.
      </text>
    </div>
  </div>

  <div class="mt-16 mb-8">
    <div>
      <div class="text-3xl w-full font-bold mb-2">My recent work</div>
    </div>
  </div>
  
  <div class="grid grid-cols-2 gap-8">
    {
      last2_projects.map((project) => (
        <>
          <ProjectCard
            img={project.data.heroImage}
            title={project.data.title}
            desc={project.data.description}
            url={"/projects/" + createSlug(project.data.title, project.slug)}
            target="_self"
            badge={project.data.badge}
            tags={project.data.tags}
          />
        </>
      ))
    }
  </div>

  <div class="mt-16 mb-8">
    <div>
      <div class="text-3xl w-full font-bold mb-2">My recent posts</div>
    </div>
  </div>
  
  {
    last3_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          date={post.data.pubDate}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
        />
        <div class="divider my-0 last:hidden" />
      </>
    ))
  }
</BaseLayout>
