---
const { title, date, img, desc, url, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

dayjs.extend(localizedFormat);
const displayDate = dayjs(date).format("ll");
---

<a href={url} target={target}>
  <div
    class="card sm:max-h-[150px] rounded-none sm:card-side bg-base-300/10 backdrop-blur-2xl hover:shadow-xl transition ease-in-out hover:scale-[102%]"
  >
    <figure class="sm:max-w-[250px] md:max-w-[250px]">
      {
        (
          <Image
            src={img ? img : "/hero_img.webp"}
            width={750}
            height={422}
            format="webp"
            alt={title}
          />
        )
      }
    </figure>
    <div class="card-body p-4 sm:py-2 gap-0">
      <h2
        class="card-title items-start justify-between flex-col sm:flex-row sm:items-baseline sm:text-base md:text-lg xl:text-xl"
      >
        {title}
        {
          date && (
            <time class="text-sm font-normal opacity-60 min-w-[100px] sm:text-right">
              {displayDate}
            </time>
          )
        }
      </h2>
      <p class="sm:text-sm md:text-base my-2 max-w-[620px]">{desc}</p>
    </div>
  </div>
</a>
