---
const { title, date, img, desc, url, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

dayjs.extend(localizedFormat);
const displayDate = dayjs(date).format("ll")
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="flex gap-4 items-start justify-center max-w-7xl p-4 flex-col md:flex-row">
      {
        <Image
          src={img ? img : '/hero_img.webp'}
          width={750}
          height={422}
          format="webp"
          alt={title}
          class="max-w-[200px] aspect-video object-cover rounded-lg"
        />
      }
      <div class="grow w-full">
        <div class="flex items-end justify-between gap-2">
          <h2 class="card-title">
            {title}
          </h2>
          {date && <time class="text-sm opacity-60 min-w-[80px]">{displayDate}</time>}
        </div>
        <p class="my-2 max-w-[620px]">{desc}</p>
      </div>
    </div>
  </a>
</div>
